{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ blog.id }}" name="id">
	<input type="text" value="{{ blog.title }}" name="title" placeholder="Titre">
	<input type="text" value="{{ blog.name }}" name="title" placeholder="Nom de l'article">
	<input type="number" value="{{ blog.date }}" name="title" placeholder="Date">
	<input type="text" value="{{ blog.text }}" name="title" placeholder="Texte">

	<input type="submit" value="Valider">
</form>
